@page
@model MiniAnimeDB.Pages.anime_person.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AnimePerson</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AnimePerson.AnimeID" class="control-label">Anime</label>
                <select asp-for="AnimePerson.AnimeID" class ="form-control" asp-items="ViewBag.AnimeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="AnimePerson.PersonID" class="control-label"></label>
                <select asp-for="AnimePerson.PersonID" class ="form-control" asp-items="ViewBag.PersonID"></select>
            </div>
            <div class="form-group">
                <label asp-for="AnimePerson.Position" class="control-label"></label>
                <input asp-for="AnimePerson.Position" class="form-control" />
                <span asp-validation-for="AnimePerson.Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
