@page
@model MiniAnimeDB.Pages.anime_tag.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AnimeTag</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimeTagA.Anime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimeTagA.Anime.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimeTagA.TagA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimeTagA.TagA.Tag)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="AnimeTagA.AnimeTagAID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
